.everything-card{
    background: transparent;
    border: white 1px solid;
    border-radius: 10px;
    box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(0, 0, 0, 0.5);
    color: white ; 
 }
 
 .everything-card:hover {
     transform: translateY(-2px);
     transition: transform 0.2s ease-in-out;
     background: var(--primary);
     box-shadow: 0 0 11px grey; 
 }
 